html {
	font-size: medium;
}
body {
	font: 100% 'Open Sans', sans-serif;
}

#branding {
	background-image: url('../img/topo.png');
	height: 168px;
	background-repeat: no-repeat;
}

header img {
	width: 400px;
	height: 134.563px;
	margin-top: 15px;
	margin-left: 170px;
}

main {
	padding: 0px 150px;	
	background-image: url('../img/fundo.png');
}

.main {
	background-color: #F9F9F9;
}

.content {
	padding-left: 20px;
	padding-top: 20px;
	background: #FFF;
}

.content-paragrath {
	line-height: 2;
	margin: 40px auto;
	font-size: 1em;
}

.content-cities {
	margin-top: 20px;
	margin-left: 0;
}

.city-item {
	border: 1px solid #d6d6c2;
	border-radius: 5px;
}

.nav-sidebar {
	background: #fff;
}

.nav-sidebar-item {
	background-color: #FFF;
	border-radius: 5px;
}

#navbar-collapse {
	display: none;
}

.alert-text {
	font-size: 12px;
}

.icon-bar-color {
	background-color: grey;
}

.ng-cloak { display: none !important; }

@media only screen and (max-width: 990px) {
	#branding {
		height: 9.38rem;
	}
	main {
		padding: 0 1.2rem;
		background-image: none;
	}
	header {
		height: 10em;
		position: relative;
	}
	header img {
		position: absolute;
		left: 0;
		width: 50%;
		height: 80%;
	}
	aside, #sidebar {
		width: 100%;
		position: fixed;
		left: 0;
		top: -100px;
		border: 1px solid #d6d6c2;
		background-color: #F9F9F9;
		border-radius: 5px;
	}
	#navbar-collapse {
		background-color: #444D4D;
		border: 0;
		border-radius: 50%;
		box-shadow: 0 3px 5px rgba(0,0,0,.2);
		outline: 0;
		transition: box-shadow .5s,background-color .3s;
		height: 50px;
		width: 50px;
		position: fixed;
		bottom: 2vw;
		right: 2vw;
		z-index: 100;
		line-height: 1;
		text-align: center;
		display: block;
	}
}

@media only screen and (max-width: 800px) {
	header img {
		width: 100%;
		height: 100%;
		margin: 0;
	}
}

footer {
	background-image: url('../img/topo.png');
	background-repeat: no-repeat;
	height: 80px;

	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

#sidebar {
	margin: 60px 0; /* for ie8 & below */ 
	margin: 6rem 0;
}

.widget {
	font-size: 1em; /* for ie8 & below */
	margin: 0 0 10px 0; /* for ie8 & below */
	margin: 0 0 1rem 0;
	padding: 0;
	word-wrap: break-word;
}

#sidebar .widget-title {
	/*background-color: #0c5aa6;*/
	font-size: 1.3em; /* for ie8 & below */
	border-bottom: 3px solid #0c5aa6;
	margin-bottom: 24px; /* for ie8 & below */
	margin-bottom: 2.4rem; 
	padding: 7px 20px; /* for ie8 & below */
	padding: 0.7rem 0rem;
	letter-spacing: 3px;
	color: #0c5aa6;
	text-transform: uppercase;
	border-radius: 3px;
}
#sidebar .widget_search .widget-title {
	margin-bottom: 0;
	border-radius: 3px 3px 0 0;
}

#sidebar .widget li,
.widget_nav_menu li, 
#meta.widget aside a {
	line-height: 20px;
	line-height: 1.2em;
	border: 1px solid #069;
	margin-bottom:3px;
}