footer {
	background-color: #2e3436;
	padding: 2em 0;
	height: 100px;
	color: #dff0d8;
	vertical-align: middle;
}

#brasao {
	background: url("/img/brasao-am.png") no-repeat;
	width: 15px;
	height: 20px;
	margin-top: -3px;
	vertical-align: middle;
}