header {
	font-family: 'Varela Round', sans-serif;
	border-top: 4px solid #3c763d;
}

.navbar-brand {
	vertical-align: middle;
}

.navbar-brand b {
	color: #444D4D;
}

#flag {
	border: 1px solid #719f72;
	background: url("/img/flag-am.png") no-repeat;
	width: 32px;
	height: 20px;
	vertical-align: middle;
}